annotated-types
anyio
archspec
bcrypt
boltons
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
conda
conda-libmamba-solver
conda-package-handling
conda_package_streaming
contourpy
cycler
distro
dnspython
email_validator
fastapi
filelock
fonttools
frozendict
fsspec
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
greenlet
h11
h2
hpack
httpcore
httplib2
httptools
httpx
huggingface-hub
hyperframe
idna
jiter
joblib
jsonpatch
jsonpointer
kiwisolver
langchain
langchain-core
langchain-openai
langchain-text-splitters
langsmith
libmambapy
matplotlib
menuinst
mysql-connector-python
noisereduce
numpy
openai
orjson
packaging
passlib
pillow
pip
platformdirs
pluggy
proto-plus
protobuf
pyasn1
pyasn1_modules
pycosat
pycparser
pydantic
pydantic_core
pydub
PyMySQL
pyparsing
PySocks
python-dateutil
python-dotenv
python-multipart
PyYAML
regex
requests
requests-toolbelt
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
scipy
setuptools
six
sniffio
soundfile
SQLAlchemy
starlette
syncsdk
tenacity
tiktoken
tokenizers
tqdm
transformers
truststore
typing_extensions
typing-inspection
uritemplate
urllib3
uvicorn
watchfiles
websockets
wheel
win_inet_pton
zstandard